@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Montserrat:wght@700&family=Work+Sans:wght@400;500;800&display=swap');

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5d9d5 !important; 
  ;
}

code {
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.candy-icon {
  border-radius: 4rem;
  width: 20rem;
  padding-bottom: 5px;
}

.searchboxHeader {
  padding: 5em;
  background-image: url(./imgs/CakeCream.png);
  border-radius: 1em;
}

.searchbar-title {
  font-weight: 500;
  font-size: 4rem;
  color:white;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}